* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
}
ul {
  list-style: none;

  li {
    a {
      text-decoration: none;
    }
  }
}
button {
  cursor: pointer;
}

//VARIABLE
$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;
$color-dark-m: #b2b2b2;
$color-dark-s: #cdcdcd;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;

//////////////////////////////////////////////////////////////////////////
/// MIXIN
/// @include name;
@mixin h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}
@mixin h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
@mixin h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}
@mixin h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
//////////////////////////////////////////////////////////////////////////
//EXTEND
//@extend %name;

%h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}
%h3-mobile {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

%h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
}

%h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

%paragraph-l {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

%pets-card-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

%donation-description {
  text-align: justify;
  margin-bottom: 42px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

//////////////////////////////////////////////////////////////////////////
/* main */

.wrapper {
  margin: 0 auto;
  background: url(../img/background/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 60px 20px;
    margin: 0 auto;

    @media (min-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (min-width: 1280px) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (min-width: 1281px) {
      width: 1280px;
    }

    .logo {
      .cozy {
        margin-bottom: 10px;
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: $color-primary;
      }
      .shelter {
        padding-left: 4px;
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: $color-light-xl;
      }
    } /* logo */

    .nav {
      .burger-menu {
        .line {
          width: 30px;
          margin-bottom: 8px;
          border: 1px solid $color-primary;
          &:last-child {
            margin-bottom: 0px;
          } /* last-child */
        } /* line */
        @media (min-width: 768px) {
          display: none;
        }
      } /* burger-menu */

      .nav-menu {
        display: flex;
        justify-content: space-between;
        width: 443px;
        @extend %paragraph-l;
        @media (max-width: 767px) {
          display: none;
        }
        li {
          a {
            color: $color-dark-s;
            &:first-child {
              div {
                border: $color-primary solid 2px;
              }
            }
          }
          .link-about {
            color: $color-light-s;
          }
          .nav-interactive {
            &:hover {
              color: $color-light-s;
              font-size: 16px;
              transition: 0.5s ease-out;
            }
          } /* nav-interactive */
          .nav-interactive-white {
            &:hover {
              color: $color-dark-m;
              font-size: 16px;
              transition: 0.5s ease-out;
            }
          } /* nav-interactive-white */
        } /* li */
      } /* nav-menu */
    }
  } /* header */

  .header-white {
    background: $color-light-xl;
    padding-bottom: 30px;

    .logo-white {
      .cozy-white {
        color: $color-dark-l;
      }
      .shelter-white {
        color: $color-dark-3xl;
      }
    } /* logo */

    .nav-white {
      .burger-menu-white {
        .line {
          border-block-color: black;
        }
      } /* burger-menu-white */
      .nav-menu-white {
        li {
          a {
            color: $color-dark-l;
          }
          .link-our {
            color: $color-dark-3xl;
          }
        }
      } /* nav-white-menu */
    } /* nav-white */
  } /* header-white >> pets page */

  .main {
    .not_only {
      .container {
        display: flex;
        flex-direction: column;
        width: 93.75%;
        margin: 0 auto;
        text-align: center;
        @media (min-width: 1280px) {
          flex-direction: row;
        }

        @media (min-width: 1280px) {
          .general-not-only {
            text-align: left;
          }
        } /* media */
        @media (min-width: 1281px) {
          width: 1280px;
        }

        h1 {
          @extend %h3-mobile;
          color: $color-light-xl;
          margin-bottom: 42px;

          @media (min-width: 768px) {
            @include h2;
            text-align: left;
            padding-left: 129px;
            letter-spacing: normal;
          } /* media */
          @media (min-width: 1280px) {
            padding-top: 194px;
            padding-left: 0px;
          }
        } /* h1 */

        p {
          @extend %paragraph-l;
          color: $color-dark-s;
          margin-bottom: 42px;

          @media (min-width: 768px) {
            margin: 0 auto;
            width: 63.7%;
            text-align: justify;
            margin-bottom: 42px;
          }
          @media (min-width: 1280px) {
            margin: 0;
            width: 92%;
            margin-bottom: 40px;
          }
        } /* p */
      }
      button {
        width: 207px;
        height: 52px;
        background: $color-primary;
        border-radius: 100px;
        margin: 0 auto;
        margin-bottom: 105px;
        border: none;
        // Шрифты
        color: #292929;
        letter-spacing: 0.06em;
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        &:hover {
          background: #f8b761;
          transition: 0.8s ease-out;
        }

        @media (min-width: 1280px) {
          margin: 0;
        }
      } /* button */
      img {
        padding-left: 13.75%;

        @media (min-width: 768px) {
          padding-left: 21.76%;
        }

        @media (min-width: 1280px) {
          @media (min-width: 1280px) {
          }
          width: 58.5%;
          padding-left: 0%;
          padding-top: 30px;
        }
      }
    } /* not_only */

    .about {
      background: $color-light-xl;
      .container {
        width: 84.375%;
        text-align: center;
        margin: 0 auto;
        @media (min-width: 768px) {
          width: 56%;
        }
        @media (min-width: 1280px) {
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          width: 100%;
        }
        .general-about {
          @media (min-width: 1280px) {
            width: 430px;
          }
        }
        h2 {
          @extend %h3-mobile;
          color: $color-dark-l;
          padding-top: 42px;
          margin-bottom: 25px;
          @media (min-width: 768px) {
            @include h3;
            text-align: start;
            padding-top: 80px;
          }
          @media (min-width: 1280px) {
            padding-top: 94px;
          }
        } /* h2 */
        p {
          @extend %paragraph-l;
          color: $color-dark-xl;
          text-align: justify;
          margin-bottom: 22px;
          @media (min-width: 768px) {
            text-align: start;
            margin-bottom: 23.5px;
          }
        } /* p */
        .second-p {
          margin-bottom: 42px;
          @media (min-width: 768px) {
            margin-bottom: 80px;
          }
        } /* p */

        img {
          width: 96%;
          margin-bottom: 38px;
          @media (min-width: 768px) {
            width: 70%;
            margin-bottom: 96px;
          }
          @media (min-width: 1280px) {
            width: 300px;
            height: 408px;
            margin-top: 80px;
            padding-left: 11px;
            margin-right: 122px;
            margin-bottom: 100px;
          }
        }
      } /* about container */
    } /* about */

    .our_friends {
      background: $color-light-l;
      .container {
        margin: 0 auto;
        text-align: center;
        @media (min-width: 1281px) {
          width: 1280px;
        }

        h2 {
          @extend %h3-mobile;
          color: $color-dark-l;
          padding-top: 42px;
          margin-bottom: 42px;
          @media (min-width: 768px) {
            @include h3;
            padding-top: 80px;
            margin-bottom: 60px;
          }
        } /* h2 */
        .cards {
          @media (max-width: 767px) {
            .hide-on-mobile {
              display: none;
            }
          }
          @media (max-width: 1279px) {
            .hide-on-tablet {
              display: none;
            }
          }
          @media (min-width: 768px) {
            display: flex;
            margin: 0 auto;
            width: 92.2%;
            margin-bottom: 39px;
            @media (min-width: 1280px) {
              width: 93.8%;
            }
            .first-arrow {
              @media (min-width: 768px) {
                margin-top: -22px;
              }
            } /* стрела которая будет в десктопной версии */
            .second-arrow {
              @media (min-width: 768px) {
                margin-top: -22px;
              }
            } /* стрела которая будет в десктопной версии */
          }
        }
        .card {
          width: 270px;
          margin: 0 auto;
          border-radius: 9px;
          margin-bottom: 19px;
          background: $color-light-s;
          cursor: pointer;
          &:hover {
            box-shadow: 0px 0px 57px -9px rgba(66, 68, 90, 1);
            transition: 0.5s ease-out;
          }
          img {
            margin-bottom: 25px;
          }
          P {
            margin-bottom: 31px;
            @extend %pets-card-title;
            color: $color-dark-l;
          }
          button {
            width: 187px;
            height: 52px;
            margin-bottom: 30px;
            border-radius: 100px;
            background: $color-light-s;
            border: 2px solid $color-primary;
            /* Шрифты */
            font-family: "Georgia";
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: $color-dark-3xl;
            &:hover {
              background: $color-primary;
              transition: 0.5s ease-out;
            }
          } /* button */
        } /* card */

        .card-mobile-nav {
          margin-bottom: 38px;

          @media (min-width: 768px) {
            display: none;
          }
          .first-arrow {
            margin-right: 76px;
          }
        } /* card-navigation */

        .button-get {
          @media (min-width: 768px) {
            margin-bottom: 100px;
          }
          width: 260px;
          height: 52px;
          background: $color-primary;
          margin-bottom: 42px;
          border-radius: 100px;
          border: none;
          color: $color-dark-3xl;
          /* Шрифты */
          font-family: "Georgia";
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 130%;
          letter-spacing: 0.06em;
          &:hover {
            background: #f8b761;
            transition: 0.8s ease-out;
          }
        }
      } /* ouer_friends container */
    } /* our_friends */

    .help {
      background: $color-light-xl;
      margin: 0 auto;
      text-align: center;
      .container {
        h2 {
          @extend %h3-mobile;
          color: $color-dark-l;
          padding-top: 42px;
          margin-bottom: 42px;
          @media (min-width: 768px) {
            @include h3;
            padding-top: 80px;
            margin-bottom: 60px;
          } /* media */
        }
        .icons {
          padding-bottom: 42px;
          margin: 0 auto;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(5, 1fr);
          grid-row-gap: 30px;
          @media (min-width: 768px) {
            width: 90%;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-row-gap: 56px;
            padding-bottom: 100px;
          } /* media */
          @media (min-width: 1280px) {
            display: grid;
            justify-content: space-between;
            width: 1100px;
            grid-template-columns: repeat(5, 166px);
            grid-template-rows: repeat(2, 1fr);
            grid-row-gap: 56px;
            grid-column-gap: 20px;
            padding-bottom: 100px;
            margin-left: 85px;

            .transportation {
              margin-left: 4px;
            }

            .toys {
              margin-left: -10px;
            }

            .bowls {
              margin-left: -25px;
            }

            .vitamins {
              margin-left: 139px;
              p {
                margin-left: -13px;
              }
            }

            .medicines {
              margin-left: 122px;
              p {
                margin-left: -20px;
              }
            }

            .collars {
              margin-left: 142px;
              p {
                width: 166px;
                margin-left: -54px;
              }
            }

            .sleeping {
              margin-left: 182px;
              p {
                width: 166px;
                margin-left: -53px;
              }
            }
          } /* media */

          @media (min-width: 1281px) {
            width: 1280px;
            margin: 0 auto;
          }

          .icon-card {
            img {
              width: 50px;
              height: 50px;
              margin-bottom: 16px;
              @media (min-width: 768px) {
                width: 60px;
                height: 60px;
                margin-bottom: 25px;
              } /* media */
            }
            p {
              @extend %h5;
              color: $color-dark-l;
              @media (min-width: 768px) {
                @include h4;
              } /* media */
            }
          } /* icon-card */
        } /* icons */
      } /* container */
    } /* help */

    .donation {
      background: $color-light-l;
      .container {
        text-align: center;
        margin: 0 auto;
        width: 87.5%;
        @media (min-width: 1280px) {
          display: flex;
          flex-direction: row-reverse;
          width: 89.5%;
        }
        h2 {
          padding-top: 44px;
          margin-bottom: 20px;
          @extend %h3-mobile;
          color: $color-dark-l;

          @media (min-width: 768px) {
            @include h3;
            padding-top: 80px;
            text-align: start;
            padding-left: 146px;
          } /* media */
          @media (min-width: 1280px) {
            padding-left: 30px;
          }
        } /* h2 */
        h3 {
          margin-bottom: 20px;
          @extend %paragraph-l;
          font-family: "Georgia";
          color: $color-dark-l;
          @media (min-width: 768px) {
            @include h5;
            text-align: start;
            padding-left: 146px;
          } /* media */
          @media (min-width: 1280px) {
            padding-left: 30px;
          }
        } /* h3 */
        button {
          width: 281px;
          height: 43px;
          margin: 0 auto;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          background: $color-primary;
          border-radius: 9px;
          border: none;
          @extend %h5;
          color: $color-dark-l;
          &:hover {
            background: #f8b761;
            transition: 0.8s ease-out;
          }
          @media (min-width: 768px) {
            width: 349px;
            height: 43px;
            @include h4;
            margin-left: 146px;
          } /* media */
          @media (min-width: 1280px) {
            margin-left: 30px;
          }
        } /* button */
        p {
          display: flex;
          justify-content: center;
          @extend %donation-description;
          color: $color-dark-m;

          @media (min-width: 768px) {
            margin: 0 auto;
            width: 55.5%;
            margin-left: 146px;
            margin-bottom: 60px;
            text-align: start;
            font-family: "Arial";
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
          } /* media */
          @media (min-width: 1280px) {
            margin-left: 30px;
            width: 68.5%;
          }
        } /* p */
        .dog-img {
          width: 260px;
          margin-bottom: 39px;
          @media (min-width: 768px) {
            width: 504px;
            margin-bottom: 96px;
          } /* media */
          @media (min-width: 1280px) {
            width: 505px;
            height: 261px;
            margin-top: 93px;
            margin-left: 116px;
            margin-bottom: 109px;
          }
        } /* dog-img */
      } /* contaienr */
    } /* donation */
  } /* main */
} /* wrapper */

.footer {
  text-align: center;
  margin: 0 auto;
  .container {
    @media (min-width: 1280px) {
      display: flex;
    }
    @media (min-width: 1281px) {
      width: 1280px;
      margin: 0 auto;
    }
  }

  @media (min-width: 768px) {
    .global-container {
      width: 83%;
      display: flex;
      text-align: start;
      margin: 0 auto;
      padding-top: 31px;
      margin-bottom: 23px;

      @media (min-width: 1280px) {
        margin-left: 40px;
        margin-top: 26px;
      }

      .first-container {
        width: 279px;
        margin-right: 58px;
        @media (min-width: 1280px) {
          margin-right: 160px;
        }
      }
      .second-container {
        width: 290px;
        h3 {
          padding-left: 0;
        }
      }
    }
  }
  h2 {
    padding-top: 30px;
    margin-bottom: 43px;
    @extend %h3-mobile;
    color: $color-light-xl;

    @media (min-width: 768px) {
      padding-top: 0;
      @include h3;
    }
  }
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %h4;
    letter-spacing: 0.06em;
    color: $color-primary;
  }
  .first-container-mobile {
    width: 251px;
    margin: 0 auto;
    margin-bottom: 43px;

    @media (min-width: 768px) {
      margin: 0;
      margin-bottom: 43px;
    }
  }
  .second-container-mobile {
    width: 239px;
    margin: 0 auto;
    margin-bottom: 38px;
    @media (min-width: 768px) {
      margin: 0;
    }
  }
  h3 {
    width: 90%;
    margin-bottom: 40px;
    padding-left: 33px;
    @extend %h3-mobile;
    color: $color-light-xl;

    @media (min-width: 768px) {
      padding-top: 0;
      @include h3;
      margin-bottom: 31px;
    }
  }

  .adress {
    p {
      @extend %h4;
      letter-spacing: 0.06em;
      color: $color-primary;
    }
  }

  .third-container-mobile {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    width: 300px;
    margin-bottom: 38px;
    text-align: left;
    @media (min-width: 768px) {
      padding-top: 0;
      @include h3;
      margin-bottom: 34px;
    }

    img {
      padding-right: 20px;
    }
  }

  .four-container-mobile {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    width: 300px;
    margin-bottom: 40px;
    img {
      padding-right: 20px;
    }
  }
  .img-footer {
    width: 260px;
    @media (min-width: 768px) {
      width: 300px;
    }
    @media (min-width: 1280px) {
      width: 300px;
      height: 310px;
      margin-top: 40px;
      margin-right: 40px;
    }
  }
} /* footer */

.wrapper-white {
  background: #ffffff;
  ///
  ///
  ///
  ///
  .our_friends {
    background: $color-light-l;
    .container {
      margin: 0 auto;
      text-align: center;
      @media (min-width: 1281px) {
        width: 1280px;
      }

      h2 {
        @extend %h3-mobile;
        color: $color-dark-l;
        padding-top: 42px;
        margin-bottom: 42px;
        @media (min-width: 768px) {
          @include h3;
          padding-top: 80px;
          margin-bottom: 60px;
        }
      } /* h2 */
      .cards {
        @media (max-width: 767px) {
          .hide-on-mobile {
            display: none;
          }
        }
        @media (max-width: 1279px) {
          .hide-on-tablet {
            display: none;
          }
        }
        @media (min-width: 768px) {
          display: flex;
          margin: 0 auto;
          width: 92.2%;
          margin-bottom: 39px;
          @media (min-width: 1280px) {
            width: 93.8%;
          }
          .first-arrow {
            @media (min-width: 768px) {
              margin-top: -22px;
            }
          } /* стрела которая будет в десктопной версии */
          .second-arrow {
            @media (min-width: 768px) {
              margin-top: -22px;
            }
          } /* стрела которая будет в десктопной версии */
        }
      }
      .card {
        width: 270px;
        margin: 0 auto;
        border-radius: 9px;
        margin-bottom: 19px;
        background: $color-light-s;

        img {
          margin-bottom: 25px;
        }
        P {
          margin-bottom: 31px;
          @extend %pets-card-title;
          color: $color-dark-l;
        }
        button {
          width: 187px;
          height: 52px;
          margin-bottom: 30px;
          border-radius: 100px;
          background: $color-light-s;
          border: 2px solid $color-primary;
          /* Шрифты */
          font-family: "Georgia";
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 130%;
          letter-spacing: 0.06em;
          color: $color-dark-3xl;
        } /* button */
      } /* card */

      .card-mobile-nav {
        margin-bottom: 38px;

        @media (min-width: 768px) {
          display: none;
        }
        .first-arrow {
          margin-right: 76px;
        }
      } /* card-navigation */

      .button-get {
        @media (min-width: 768px) {
          margin-bottom: 100px;
        }
        width: 260px;
        height: 52px;
        background: $color-primary;
        margin-bottom: 42px;
        border-radius: 100px;
        border: none;
        color: $color-dark-3xl;
        /* Шрифты */
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
      }
    } /* ouer_friends container */
  } /* our_friends */
  ///
  ///
  ///
  ///
  .our_friends-white {
    .container {
      ///
      ///
      h2 {
        @media (min-width: 768px) {
          margin-bottom: 30px;
        }
        @media (min-width: 1280px) {
          margin-bottom: 60px;
        } /* media */
      }
      .hide-on-white {
        display: none;
      } /* container-hide-on-white */
      ///
      .cards {
        display: grid;

        @media (min-width: 320px) {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(3, 1fr);
          margin-bottom: 11px;
          .card {
            margin-bottom: 30px;
          }

          .visable-on-mobile-white {
            display: block;
          }
          .card-katrine {
            margin-bottom: 30px;
          }
        }
        @media (min-width: 768px) {
          width: 81.6%;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          grid-column-gap: 0;
          margin-bottom: 9px;
          .visable-on-tablet-white {
            display: block;
          }
        } /* media */
        @media (min-width: 1280px) {
          width: 93.8%;
          margin-bottom: 29px;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 40px;
          grid-row-gap: 0px;
        } /* media */

        .hide-on-white {
          display: none;
        } /* hide-on-white */
      } /* cards */

      .card-white-nav {
        margin: 0 auto;
        width: 340px;
        padding-bottom: 98px;
        @media (min-width: 320px) {
          padding-bottom: 38px;
        }
        @media (max-width: 767px) {
          width: 300px;
        } /* media */
        @media (min-width: 768px) {
          padding-bottom: 72px;
        } /* media */
        @media (min-width: 1280px) {
          padding-bottom: 96px;
        } /* media */
        ul {
          display: flex;
          justify-content: space-between;
        }
      } /* card-white-nav */
      ///
      ///
    } /* container */
  } /* our_friends-white  */
  ///
  ///
  ///
  ///
  ///
  ///
  ///
} /* wrapper-white */

.footer-white {
  background: url(../img/background/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

  text-align: center;
  margin: 0 auto;
  .container {
    @media (min-width: 1280px) {
      display: flex;
    }
    @media (min-width: 1281px) {
      width: 1280px;
      margin: 0 auto;
    }
  }

  @media (min-width: 768px) {
    .global-container {
      width: 83%;
      display: flex;
      text-align: start;
      margin: 0 auto;
      padding-top: 31px;
      margin-bottom: 23px;

      @media (min-width: 1280px) {
        margin-left: 40px;
        margin-top: 26px;
      }

      .first-container {
        width: 279px;
        margin-right: 58px;
        @media (min-width: 1280px) {
          margin-right: 160px;
        }
      }
      .second-container {
        width: 290px;
        h3 {
          padding-left: 0;
        }
      }
    }
  }
  h2 {
    padding-top: 30px;
    margin-bottom: 43px;
    @extend %h3-mobile;
    color: $color-light-xl;

    @media (min-width: 768px) {
      padding-top: 0;
      @include h3;
    }
  }
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %h4;
    letter-spacing: 0.06em;
    color: $color-primary;
  }
  .first-container-mobile {
    width: 251px;
    margin: 0 auto;
    margin-bottom: 43px;

    @media (min-width: 768px) {
      margin: 0;
      margin-bottom: 43px;
    }
  }
  .second-container-mobile {
    width: 239px;
    margin: 0 auto;
    margin-bottom: 38px;
    @media (min-width: 768px) {
      margin: 0;
    }
  }
  h3 {
    width: 90%;
    margin-bottom: 40px;
    padding-left: 33px;
    @extend %h3-mobile;
    color: $color-light-xl;

    @media (min-width: 768px) {
      padding-top: 0;
      @include h3;
      margin-bottom: 31px;
    }
  }

  .adress {
    p {
      @extend %h4;
      letter-spacing: 0.06em;
      color: $color-primary;
    }
  }

  .third-container-mobile {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    width: 300px;
    margin-bottom: 38px;
    text-align: left;
    @media (min-width: 768px) {
      padding-top: 0;
      @include h3;
      margin-bottom: 34px;
    }

    img {
      padding-right: 20px;
    }
  }

  .four-container-mobile {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    width: 300px;
    margin-bottom: 40px;
    img {
      padding-right: 20px;
    }
  }
  .img-footer {
    width: 260px;
    @media (min-width: 768px) {
      width: 300px;
    }
    @media (min-width: 1280px) {
      width: 300px;
      height: 310px;
      margin-top: 40px;
      margin-right: 40px;
    }
  }
} /* footer-white */
